.hero {
  &__section {
    background-image: url("./../../assets/images/hero-kintanami.png");
    height: 96.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
  }

  &__title{
    font-size: 12.8rem;
    color: var(--color-white);
    font-weight: 800;
  }
  &__subtitle{
    font-size: 3.2rem;
    color: var(--color-white);
    font-weight: 600;
  }
}
